# System Local Data
uploads/
known_faces/
rclone-config/

# Credentials & Secrets
*.conf
!nginx.conf
.env
esp32/secrets.h
proton-drive-rclone-setup.md

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
.venv/
